* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Titillium Web', 'Trebuchet MS', 'Lucida Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#top {
    display: flex;
    flex-direction: column;
  }

#header {
    background-color: navy;
    width: auto;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
}

#logo{
    font-size: 50px;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    height: auto;
}

#subheader {
    padding: 1rem;
}

#subheader h1 {
    font-size: 4vw;
}

#subheader h2 {
    font-size: 3vw;
}
#weather {
    background-color: #ffffff;
    padding: 20px;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 2vw;
}

.weather-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-summary img {
    width: 20%;
    height: auto;
}

nav {
	display: flex;
    background-color: #0066ff;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
}
nav ul li {
	list-style-type: none;
	display: inline;
	margin-right: 1.5rem;
}
nav ul li:last-of-type {
	margin-right: 0;
}
nav ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
nav ul li a:hover {
	color: orange;
	text-decoration: underline;
}

main {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 2vw;
}

main h2 {
    justify-content: center;
    text-align: center;
}

#moments {
    padding: 1rem;
}

#testimonials {
    padding: 1rem;
}

#rooms {
    padding: 1rem;
}

#hero {
    background-image: url('/Images/Photos/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h2, #hero p {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}
