* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Titillium Web', 'Trebuchet MS', 'Lucida Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

p {
    padding: 0.5rem;
}

#top {
    display: flex;
    flex-direction: column;
  }

#header {
    background-color: navy;
    width: auto;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
}

#logo{
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    height: auto;
}

#subheader {
    padding: 1rem;
}

#subheader h1 {
    font-size: 3em;
}

#subheader h2 {
    font-size: 1em;
}
#weather {
    background-color: #ffffff;
    padding: 20px;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 1em;
}

.weather-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-summary img {
    width: 5%;
    height: auto;
}

nav {
	display: flex;
    background-color: #0066ff;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
nav ul li {
	list-style-type: none;
	display: inline;
	margin-right: 1rem;
}
nav ul li:last-of-type {
	margin-right: 0;
}
nav ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
nav ul li a:hover {
	color: orange;
	text-decoration: underline;
}

main {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 1em;
}

main h2 {
    justify-content: center;
    text-align: center;
}

#moments {
    padding: 1rem;
}

#testimonials {
    padding: 1rem;
}

#roomsHome {
    padding: 1rem;
}


#footer {
    background-color: navy;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #header {
        padding: 1rem;
    }
    #logo {
        width: 100%;
        height: auto;
    }
    #subheader h1 {
        font-size: 2em;
    }
    #subheader h2 {
        font-size: 0.8em;
    }
    nav ul li {
        margin-right: 0.5rem;
    }
    nav ul li a {
        font-size: 0.8em;
    }
    main h2 {
        font-size: 1.5em;
    }

    #moments img {
        max-width: 100%;
    }

    #hero {
        background-image: url('/Images/Photos/hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    
    #hero h2, #hero p {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 10px;
    }
}

@media screen and (min-width: 601px) {
    #header {
        padding: 2rem;
    }
    #logo {
        width: 80%;
        height: auto;
    }
    #subheader h1 {
        font-size: 3em;
    }
    #subheader h2 {
        font-size: 1.5em;
    }
    nav ul li {
        margin-right: 1rem;
    }
    nav ul li a {
        font-size: 1em;
    }
    main h2 {
        font-size: 2em;
    }

    h1 {
        font-size: 3rem;
    }
    #moments img {
        max-width: 70%;
    }

    #hero {
        background-image: url('/Images/Photos/hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #hero h2, #hero p {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 10px;
    }
}